@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    box-sizing: border-box;
    text-decoration: none;
}
html, body{
    width: 100%;
    height: 100%;
}
/*RESEAT*/
h1, h2, h3{
    font-family: 'Oswald', sans-serif;
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
p, ul{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
ul{
    list-style: none;
}
.btn{
    color: #fff;
    background-color: red;
    padding: 15px;
    border-radius: 5px;
    list-style: none;
    box-shadow: rgb(99 99 99) 1px 1px 5px;
    transition: 0.5s;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}
.btn:hover{
    background-color: #000;
    box-shadow: none;
}
/*GLOBAL*/
.cabecalho{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    text-shadow: 1px 1px 5px #000;
    background: url('https://www.ikmultimedia.com/products/st3hughpadghamdrums/main-banner/regular@2x.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    background-attachment: fixed;
    height: 60vh;
}
.valores p{
    font-family: 'Oswald', sans-serif !important; 
    font-weight: 800;
}
.valor-sublinhado{
    text-decoration: line-through;
    font-size: 1.5em;
}
.valor-real{
    font-size: 2.5em;
}
.limitado{
    background-color: #D90707;
    padding: 10px;
    text-shadow: none;
    border-radius: 5px;
    font-size: 1.5em;
    margin-bottom: 15px;
}
.vitalicio{
    background-color: #fff;
    display: inline;
    padding: 10px;
    border-radius: 5px;
    color: #D90707;
    text-shadow: none;
    text-transform: uppercase;
    font-size: 1.5em;
}
/* valores - cabecalho */
.cab-titulo{
    text-align: right;
}
.frase-titulo{
    margin-bottom: 30px;
}
.suss{
    color: #D90707;
} 
.btn-cabecalho{
    margin-top: 30px;
    box-shadow: none;
}
.btn-cabecalho:hover{
    background-color: #F2600C;
}
/* ------cabecalho------ */
.sobre{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
iframe{
    width: 853px;  
    height: 488px;  
    border-radius: 20px;
    box-shadow: 1px 1px 28px #000000c4;
}
.conteudo, .bonus, .praquem, .garantia, .prof, .whats, .sobre{
    padding: 60px;
    border-bottom: 1px solid #000;
}
.conteudo{
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.conteudo img{
    width: 500px;
    height: 398px;
}
.conteudo li{
    margin-bottom: 30px;
}
.conteudo h2{
    margin: 20px 0;
}
.conteudo ul{
    font-size: 1.5em;
}
.bonus{
    background-color: #7229D9;
    color: #fff
}
.bonus p{
    margin: 15px 0;
}
.bonus-span{
    text-decoration: underline;
}
.praquem p{
    margin: 15px 0;
}
.pq-span{
    font-size: 1.2em;
    font-weight: 900;
    padding: 5px;
    color: #000;
    text-decoration: underline;
}
.garantia{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.garantia-txt{
    display: flex;
    flex-direction: column;
}
article.garantia-txt{
    width: 50%;
    text-align: justify;
    display: flex;
    flex-direction: column;
}
article.garantia-txt p{
    margin-bottom: 40px;
}
.prof{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
}
.prof video{
    height: 90vh;
    border-radius: 5px;
}
.prof-txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.prof-txt p{
    margin-top: 10px;
}
.prof-txt h3{
    color: yellow;
}
.whats{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}
.whats-txt{
    display: flex;
    flex-direction: column;
}
.whats-btn{
    color: #000;
    background-color: #00de5c;
    padding: 15px;
    border-radius: 5px;
    list-style: none;
    box-shadow: rgb(99 99 99) 1px 1px 5px;
    transition: 0.5s;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
}
.whats-btn:hover{
    color: #fff;
    box-shadow: none;
}
footer{
    color: #000;
    text-align: center;
    padding: 5px 0;
    font-family: sans-serif;
    font-size: 0.8em;
}
/*===================Mobile====================*/
@media only screen and (max-width: 920px){
    .cabecalho{
        height: auto;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-attachment: fixed;
        flex-direction: row-reverse;
        gap: 50px;
        padding: 30px;
        text-align: center;
    }
    .cab-titulo{
        text-align: center;
    }
    .valores{
        order: 1;
        background-color: #222;
        padding: 30px;
        border-radius: 10px;
    }
    .cabecalho h1{
        width: 98%;
    }
    .conteudo{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .conteudo img{
        width: 100%;
        height: auto;
    }
    .sobre{
        flex-direction: column;
        background-color: #000;
    }
    iframe{
        width: 100%;  
        height: 100vh;  
        border-radius: 20px;
    }
    .conteudo, .bonus, .praquem, .garantia, .prof, .whats, .sobre{
        padding: 40px 20px;
    }
    .whats{
        justify-content: start;
    }
    article.garantia-txt{
        width: 100%;
        text-align: center;
    }
    .prof{
        flex-direction: column;
    }
    .prof video{
        width: 100%;
    }
    .prof-txt{
        width: 100%;
    }
}

