@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* reseat */
:root{
    --gery: #2a2a2a;
    --grey-2: #3b3b3b;
    --grey-p: #b3b3b3;
    --orange: #ff4f2e;
    --roboto: "Roboto", sans-serif;
    --cabin: "Cabin Sketch", sans-serif;
}
body{
    font-family: sans-serif;
    background-color: var(--gery);
    color: white;
    font-family: var(--roboto);
}
header, section{
    padding: 50px;
}
h2{
    margin: 20px 0;
}
h3{
    margin: 10px 0;
}
p{
    margin: 20px 0;
    color: var(--grey-p);
}
/* global */
nav.menu{
    display: block;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
nav img{
    width: 40px;
    margin-right: 10px;
}
nav.menu a{
    text-decoration: none;
    color: white;
}
.cabecalho{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cabecalho h1{
    max-width: 400px;
    font-size: 4em;
}
.cabecalho p{
    max-width: 300px;
}
.cabecalho .btn-acao-header{
    text-decoration: none;
    color: white;
    font-weight: 800;
    background-color: var(--orange);
    width: max-content;
    padding: 10px;
    border-radius: 50px;
}
/* header */
.foto-sala{
    /* background: url('../image/banda-show.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 200px; */
    padding: 50px;
}
.foto-sala h2{
    color: var(--grey-p);
    font-size: 5em;
    font-family: var(--cabin);
}
/* Foto sala */
section.info{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
section.info h2{
    font-size: 2em;
    max-width: 300px;
    width: 100%;
}
.quantidade, .duracao, .horario{
    background-color: var(--grey-2);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
}
/* Info */
.cont{
    display: flex;
    flex-wrap: wrap;
}
.cont h2{
    width: 100%;
}
.cont p{
    max-width: 300px;
    border-left: 3px solid var(--orange);
    padding-left: 10px;
}
.cont-p-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}
/* Cont */
.bonus{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.bonus h2{
    font-size: 3em;
    max-width: 300px;
}
.bonus p{
    border-right: 3p solid var(--orange);
    padding-right: 10px;
}