@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    padding-top: 10px;
    background-color: #4c94f6;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-size: 1.2em;
}
h1, h2{
    max-width: 300px;
    background-color: white;
    padding: 10px;
    border: 3px solid black;
    font-family: 'Bangers', cursive;
    color: red;
    text-shadow: 1px 2px 1px black;
}
#formulario{
    background-color: white;
    padding: 30px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius:5px;
    border: 3px solid black;
    transition: .5s;
}
#formulario:hover{
    box-shadow: 1px 1px 50px #00000081; 
    transform: scale(1.1);
}
input{
    height: 50px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #f6db35;
}
button{
    padding: 10px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
}
#resultado{
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border: 3px solid black;
}
a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}