@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:ital,wght@0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/* reseat */
html, body{
    width: 100%;
    height: 100%;
}
body{
    font-family: sans-serif;
    background-color: #F2F2F2;
    background: url(/imagem_velocidade/velocidade_bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}
header, .cont-txt, .comprar, .duvida{
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}
h1, h2, h3, h4{
    font-family: 'Bowlby One SC', cursive;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 2.5;
}
h4{
    font-size: 2.2;
}
p{
    font-size: 1.3em;
    font-family: 'Comic Neue', cursive;
    font-weight: 700;
}
/* global */
main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    color: #262626;
}
main h1{
    color: red;
}

.cont-txt p{
    margin: 10px 0;
    text-indent: 10px;
}
.prof{
    font-weight: 400;
    font-style: italic;
}
.container-comprar-duvida{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.comprar{
    margin-bottom: 10px;
}
.comprar-h4{
    color: red;
}
.garantia{
    margin-bottom: 50px;

}
.comprar a{
    background-color: black;
    padding: 20px;
    color: #F2F2F2;
    margin-bottom: 100px;
    border-radius: 10px 10px 0 0;
}
.chama{
    margin-bottom: 50px;
}
.duvida a{
    background-color: #262626;
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}
/* ======= mobile */
@media (max-width: 850px) {
    main{
        padding: 10px;
    }
}