@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=News+Cycle:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html, body{
    width: 100%;
    height: 100%;
}
/* reseat */
:root{
    --cor-1: #fd1105;
    --cor-2: black;
    --radius: 3px;
    --section-padding: 70px 10px;
    --button-padding: 5px 40px;
}
body{
    background-color: var(--cor-2);
    color: aliceblue;
}
h1, a{
    font-family: 'News Cycle', sans-serif;
}
h2, h3, h4{
    font-family: 'Gothic A1', sans-serif;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 2em;
}
h4{
    font-size: 1.5em;
}
p{
    font-family: 'Cabin', sans-serif;  
    font-size: 1.3em;
}
a{
    font-size: 1.5em;
    background-color: var(--cor-1);
    padding: var(--button-padding);
    border-radius: var(--radius);
    width: max-content;
    color: aliceblue;
}
.btn{
    transition: .2s;
}
.btn:hover{
    transform: scale(1.1);
}
/* global */
header{
    background: url('/imagens_novas/header_bg_parede_cinza.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}
.cabecalho-txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-shadow: 1px 1px 1px black;
}
.cabecalho-txt h2{
    margin-bottom: 20px;
}
.cabecalho-card-valor{
    background-color: var(--cor-1);
    padding: 30px 0px;
    border-radius: 5px;
    text-shadow: 1px 1px 1px black;
}
.cabecalho-card-valor h4{
    margin-left: 10px;
}
.valor-antigo{
    text-decoration: line-through;
}
.valor-promo{
    font-size: 2.5em !important;
}
.vitalicio{
    background-color: var(--cor-2);
    padding: var(--button-padding);
}
/* header */
.duvida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--section-padding);
    gap: 30px;
}
@media (max-width: 1000px) {
    header{
        gap: 50px;
    }
    .cabecalho-txt{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .valor-promo{
        font-size: 5em;
    }
  }